In [21]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift
from sklearn import preprocessing, svm
from sklearn.model_selection import cross_validate
import matplotlib.pyplot as plt
from matplotlib import style
%matplotlib notebook

style.use('ggplot')

In [47]:
df = pd.read_excel("titanic.xls")
o_df = pd.DataFrame.copy(df)
df.drop(['body', 'name', 'sex', 'home.dest', 'sibsp'], 1, inplace=True)
df._convert(numeric=True)
df.fillna(0, inplace=True)

In [48]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text = {}
        def convert_to_int(val):
            return text[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text:
                    text[unique] = x
                    x+=1
            df[column] = list(map(convert_to_int, df[column]))   #set list map
            
    return df

In [49]:
df = handle_non_numerical_data(df)
df.head()

   pclass  survived  parch  ticket      fare  cabin  embarked  boat
0       1         1      0     740  211.3375    134         2     1
1       1         1      2     502  151.5500     30         2    27
2       1         0      2     502  151.5500     30         2     0
3       1         0      2     502  151.5500     30         2     0
4       1         0      2     502  151.5500     30         2     0

In [55]:
x = np.array(df.drop(['survived'], 1).astype(float))
x = preprocessing.scale(x) #important
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(x)

correct=0
for i in range(len(x)):
    predict_me = np.array(x[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1
        
print(correct/len(x))

0.7104660045836516